<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>gas</title>

        <!-- Google AdSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3967455593918125"
        crossorigin="anonymous"></script>

    </head>
    <body>
        <h1>gas</h1>

        <!-- Ad -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3967455593918125"
            data-ad-slot="9120656862"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <button onclick="popup()">get FREE gas</button>

    </body>
</html>