<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Chat System</title>
    {% load static %}
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Chat System</h1>

        <marquee>harlanisabarlan and ima tarlan </marquee>
        <p>unc knows html :speedface:</p>
        <button onclick="gasup()">gas up</button>
        <img id="car" style="position: absolute; left: 300px; top:420px; pointer-events: none;" src="{% static 'car.png' %}">

        <a href="{% url 'chat_rooms' %}" class="btn" style="font-size: 18px; padding: 15px 30px; background: #007bff; position: absolute; top: 800px; left: 50%; transform: translateX(-50%);">🚀 Enter Chat System</a>
    </div>
    <script>
        let animationInterval
        function gasup() {
            if (animationInterval) clearInterval(animationInterval)
            let car = document.getElementById("car")
            let left = 300
            animationInterval = setInterval(() => {
                left -= 10
                car.style.left = left + "px"
            }, 50)
        }
    </script>
</body>
</html>